.btn-outline-warning:hover {
  background-color: rgb(243, 208, 166);
  color: whitesmoke
}

.btn-outline-success:hover {
  background-color: rgb(200, 220, 200);
  color: whitesmoke
}

.btn-outline-danger:hover {
  background-color: rgb(227, 182, 182);
  color: whitesmoke
}

.btn a {
  text-decoration: none;
}

.text {
  color: rgba(199, 42, 42, 0.846);
}

.text:hover {
  color: gray
}

.nav-link {
  color: gray
}

.edit_delete_container {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.edit_delete_buttons {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
