<div class="modal fade" id="modalNewPiece" tabindex="-1" aria-labelledby="modalNewPieceLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalNewPieceLabel">New piece to rent 👖 </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= turbo_frame_tag :form_piece, src: new_piece_path do %>

      <% end %>

    </div>
  </div>
</div>
