<div data-controller="filter">

  <div class="d-flex justify-content-between align-items-center icon-container mt-4">
    <div data-filter-target="filterableElement" data-tag='Casual'>
      <p><i class="fas fa-tshirt"></i></p>
      <p>Casual</p>
    </div>
    <div data-filter-target="filterableElement" data-tag='Wedding'>
      <p><i class="fas fa-ring"></i></p>
      <p>Wedding</p>
    </div>
    <div data-filter-target="filterableElement" data-tag='Cocktail'>
      <p><i class="fas fa-glass-martini-alt"></i></p>
      <p>Cocktail</p>
    </div>
    <div data-filter-target="filterableElement" data-tag='Business'>
      <p><i class="fas fa-briefcase"></i></p>
      <p>Business</p>
    </div>
    <div data-filter-target="filterableElement" data-tag='Party'>
      <p><i class="fas fa-birthday-cake"></i></p>
      <p>Party</p>
    </div>
    <div data-filter-target="filterableElement" data-tag='Everyday Chic'>
      <p><i class="fas fa-star"></i></p>
      <p>Everyday Chic</p>
    </div>
  </div>
</div>
