<%= turbo_frame_tag :form_piece do %>
  <%= simple_form_for(@piece, html: { data: { turbo_frame: '_top' }}) do |f| %>
    <div class="modal-body">
      <%= render "form_content", f: f %>
    </div>
    <div class="modal-footer">
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
