<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#Piece</th>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Pending</th>
      <th scope="col">Rejected</th>
      <th scope="col">Done</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>img</td>
      <td>Shoes Louboutin</td>
      <td>1</td>
      <td>2</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>img</td>
      <td>Bag Michael Kors</td>
      <td>0</td>
      <td>2</td>
      <td>5</td>
    </tr>
    <tr>

  </tbody>
</table>
