<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#Transaction</th>
      <th scope="col">Name</th>
      <th scope="col">Booking dates</th>
      <th scope="col">Owner</th>
      <th scope="col">Renter</th>
      <th scope="col">Price/day</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">#12345</th>
      <td>Coat Dior</td>
      <td>22/11-24/11</td>
      <td>Joana</td>
      <td>Lara</td>
      <td>100€</td>
      <td>Accepted 🎉</td>
    </tr>
    <tr>
      <th scope="row">#12322</th>
      <td>Sweat Burberry</td>
      <td>20/10-25/10</td>
      <td>Joana</td>
      <td>Michelle</td>
      <td>100€</td>
      <td>Done ✅</td>
    </tr>
    <tr>
    </tr>
  </tbody>
</table>
