.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 400px;
}

.card-trip > img {
  height: 75%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.card-trip a {
  text-decoration: none;
  color: #0E0000;
}

.card-trip-contain {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 400px;
}

.card-trip-contain > img {
  height: 75%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.card-trip-contain h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-contain p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}
